html, body {
    margin: 0px;
    background-color: #2DA630;
    color: whitesmoke;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta {
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -60px;
}

#jugador-cartas, #computadora-cartas {
    height: 250px;
}